<div class="flex justify-center">
    <mat-tab-group class="w-full">
        @for (button of navButtons; track $index) {
            <mat-tab label="{{button.menuName}}">
                <ng-template matTabContent>
                    @if(button.menuId==2){
                        <app-premium-service></app-premium-service>
                    }
                    @if(button.menuId == 4){
                        <app-reports [menuId]="button.menuId"></app-reports>
                    }
                    @if(button.menuId == 5){
                        <app-manageaccountdetails [menuId]="button.menuId"></app-manageaccountdetails>
                    }   
                </ng-template>
                </mat-tab>
        }
    </mat-tab-group>
    </div>