

<div class="report-container">
  <h4 class="report-title">Admin Report Manager</h4>
  <div class="input-row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Account Type</mat-label>
      <mat-select [(ngModel)]="accountType" (selectionChange)="onClick()">
        <mat-option [value]="'1,2,3,4,5'">All</mat-option>
        <mat-option [value]="'1,4,5'">External</mat-option>
        <mat-option [value]="'2'">Managed</mat-option>
        <mat-option [value]="'3'">Internal</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product</mat-label>
      <mat-select [(ngModel)]="product" (selectionChange)="onClick()">
        <mat-option value="">All</mat-option>
        <mat-option value="en">Zarca Engage</mat-option>
        <mat-option value="kt">K12 Engage</mat-option>
        <mat-option value="1">K12 Let's Talk</mat-option>
        <mat-option value="4">K12 Engage + Let's Talk</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Corporate ID</mat-label>
      <mat-select [(ngModel)]="selectedCorporateNo" (selectionChange)="onCorporateChange()">
        <mat-option *ngFor="let corp of corporateIds | sort: 'corporate_id'" [value]="corp.corporate_No">
          {{ corp.corporate_id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>View</mat-label>
      <mat-select>
        <mat-option value="all">All</mat-option>
        <mat-option value="semi-anonymous">Semi Anonymous</mat-option>
        <mat-option value="anonymous">Anonymous</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Survey Details</mat-label>
      <mat-select [(ngModel)]="selectSurveyNo">
        <mat-option *ngFor="let detail of surveyDetails | sort: 'title'" [value]="detail.survey_no">
          {{ detail.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="genreport()">
      Generate Report
    </button>
  </div>
  
</div>

<!-- <div class="button-container">
  <button mat-raised-button color="primary" (click)="genreport()">
    Generate Report
  </button>
</div> -->
